page-login {
    .weixinLogo{
        border-bottom: 1px solid #afafaf;
        margin-top: 80px;
        img{
            width: 120px;
            height: 120px;
            border-radius: 5%;
        }
    }
    .loginButton{
        button{
            height: 40px;
            width: 150px;
        }
    }
}
