page-orderInfo {
		.list-ios .item-block .item-inner{
				border-bottom:1px #ccc dashed;
		}
		.scroll-content {
	      background:#f4f4f4;
	    }
		.hr_6{ height:6px;}
		.infos span,.info_input input{ color:#666;}

		.addr_label ion-label{
			overflow: auto;
		 	white-space: normal;
		 	color:red;
		}
		.storeName{
				background:#fff;
				height:60px;
				line-height: 60px;
				padding:5px;
				button{
						background:#fff;
						height:100% !important;
						img{
								height:50px !important;
								width:auto;
								float: left;
						}
						span{
								float: left;
								height:50px;
								line-height: 50px;
								margin-left:10px;
						}
				}
		}
		.payWay{
	    margin-top:5px;
	    ion-row{
	      padding-left:5px;
	      border-bottom:1px solid #dfdfdf;
	      background:#fff;
	      ion-col{
	        color:#999;
	      }
	    }
	    ion-item{
	        font-size:14px;
	        .input-wrapper{
	            padding-left:12px;
	        }
	    }
	    ion-radio{
	      .radio-icon{
	        width: 21px;
	        height: 21px;
	        border-width: 1px;
	        border-style: solid;
	        border-color:#c8c7cc;
	        border-radius: 50%;
	        .radio-inner{
	            border-color:#fff;
	            height:10px;
	        }
	      }
	    }
	    .radio-checked{
	        border-color: #FF651E;
	        background-color: #FF651E;
	    }
	  }
	  .discountEP{
		  padding:3px 0 !important;
		  margin-top:5px;
		  background:#fff;
			border-bottom:3px #f4f4f4 solid;
		  ion-col:nth-child(1){
			  text-align:left;
			  max-width:85%;
			  padding-left: 16px;
		  }
		  ion-col:nth-child(2){
			  max-width:15%;
			  text-align: center;
			  .ionRadio,.ionRadio1{
				  border:1px #dfdfdf solid;
				  border-radius:50%;
				  height:21px;
				  width:21px;
				  line-height: 21px;
				  .radio-inner{
					  border-color:#fff;
					  height:10px;
				  }
			  }
			  .ionRadio{
				  background:#FF651E;
			  }
			  .ionRadio1{
				  background:#fff;
			  }
		  }
	  }
		.list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block{
				border-bottom:0;
		}
		.list-ios > .item-block:first-child{
				border-top:0;
		}
		.payForIt{
	      background:#fff;
	      ion-row:nth-child(3){
	          ion-col{
								span{
										display:inline-block;
										height:30px;
										line-height:30px;
										margin:0 10px 0 0;
								}
	              ion-input{
	                  display:inline-block;
	                  max-width:180px;
	                  height:30px;
	                  margin:0 auto;
	                  text-indent: 10px;
	                  border:1px #dedede solid;
	                  input{
	                      margin:0 !important;
	                      padding:0 !important;
	                      height:30px;
	                      width:180px;
	                      line-height:30px;
	                  }
	              }
	          }
	      }
	  }
		.payForInfo{
				border-bottom:1px #dfdfdf solid;
				color:#999;
		}
		.epDiscount{
				padding-left:10px;
		}
		.actualPayMent{
				padding-left:10px;
		}
		.info_getgoods {
				ion-item{
						font-size: 14px !important;
				}
		}
}
