page-sellerOrder {

	.goods_Name{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
	 ion-segment{ background:#fff;}
	.scroll-content{ background:#f4f4f4;}
	.list_product ion-item{margin:6px 0;}
}
