<ion-header>

    <ion-toolbar color="yanbao">
    	<ion-buttons start>
          <button ion-button icon-only (click)="goToBackPage()">
            <ion-icon name="arrow-back"></ion-icon>
          </button>
        </ion-buttons>
        <ion-title center>{{name}}</ion-title>
    </ion-toolbar>
	<div *ngIf="id==10001" style="width: 100%;color:#03bb03; font-size: 14px; font-weight: 500; padding: 5px; letter-spacing: 2px;">可消费EP：{{myEP}}
    </div>
</ion-header>

<ion-content >
      <div *ngIf="id==10001" style="background:#efefef;">
          <ion-grid no-padding no-margin>
              <ion-row wrap>
                  <ion-col class="hotContent" no-padding col-6 (click)="gotoGoodsInfo(d.id,10001)" *ngFor="let d of datas">
                      <ion-grid >
                           <ion-row style="background:#fff;">
                              <ion-card class="hotImg" style="margin:8px 8px 5px 8px; width: 100%;">
                                  <img  src="{{d.icon}}">
                              </ion-card>
                          </ion-row>
                          <ion-row no-margin style="background:#fff;">
                              <ion-col  text-center style="padding:0 5px;">
                                  <div style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis; color:#333; font-size: 12px;">
                                      <span >{{d.name}}</span>
                                  </div>
                              </ion-col>
                          </ion-row>
                          <ion-row  no-margin style="background:#fff;">
                              <ion-col text-left>
                                  <span style="color:#03bb03;font-size:12px;">{{d.price}}EP </span>
                              </ion-col>
                              <ion-col text-right >
                                  <button outline (click)="EPbuyGoods(d,$event,1)" small ion-button style="padding:2px 5px;margin: 0;height:auto; vertical-align: top; font-size: 12px;">兑换</button>
                              </ion-col>
                          </ion-row>
                      </ion-grid>
                  </ion-col>
              </ion-row>
          </ion-grid>
      </div>
    <ion-infinite-scroll *ngIf="showScroll" (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
