page-goodLuck {

.hotContent{
        border-bottom: 1px solid #efefef;
        border-right: 1px solid #efefef;
    }
    .no-scroll {
        .scroll-content {
            overflow: hidden !important;
        }
    }
    .leftPanel{
        width: 65px;
        position: absolute;
        background-color: #FFFFFF;
        z-index: 1;
        overflow-y: auto;
        overflow-x: hidden;
        top:0;
        bottom: 0;
        button{
            height: 40px;
            margin: 0;
            color: #000000;
            border-bottom: 1px solid #DFDFDF;
        }
    }

    .btn-default{
        background-color: #FFFFFF;
    }

    .btn-selected{
        background-color: #EFEFEF;
    }

    .rightPanel{
        z-index: 0;
        width: 100%;
        position: absolute;
        padding: 5px 5px 0 70px;
        overflow: auto;
        top:0;
        bottom: 0;
        background-color: #EFEFEF;
        
    }
    .goodsInfo{
            background-color: #FFFFFF;
            margin-bottom: 5px;
            border: 1px solid #DFDFDF;
        }
    .scroll-content{ background: #f4f4f4; }
    .hr_6{ height: 6px; }
.ioncol:nth-child(odd) dl{margin:0 5px 0 0; background: #fff;margin-top: 10px;}
    .ioncol:nth-child(even) dl{margin:0 0 0 5px;background: #fff;margin-top: 10px;}
    .ioncol dl{padding:10px 5px 5px 5px; }
    .ioncol dl dd{margin: 0;}
    .ioncol dl img{width:90%; height:auto;}
    .ioncol .name_product{ margin: 0; text-align: left; color: #222; font-size: 1.4rem;
overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            height: 20px; line-height: 20px;
    }
    .ioncol p{ margin: 0; text-align: left; color:#fe575f; clear: both;}
    .btns{ clear: both; }
    @media screen and (max-width: 350px) {
        .btns button{
            padding-left: 6px;
            padding-right: 6px;
        }
    }
}
