<ion-header>
    <ion-toolbar color="yanbao">
        <ion-buttons start>
          <button ion-button icon-only (click)="goToBackPage()">
            <ion-icon name="arrow-back"></ion-icon>
          </button>
        </ion-buttons>
        <ion-title center>设置支付密码</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row class="prompt">
            <ion-col>
                提示：密码必须为6位数字
            </ion-col>
        </ion-row>
        <ion-row class="oldPwd">
            <ion-col>
                <span>旧密码</span>
                <ion-input [disabled]="true" type="password" *ngIf="commonService.user.isSetPayPwd=='0'" placeholder="未设置" bindon-ngModel="oldPayPwd"></ion-input>
                <ion-input maxlength="6" type="password" bindon-ngModel="oldPayPwd" placeholder="输入6位数旧密码" *ngIf="commonService.user.isSetPayPwd=='1'"></ion-input>
            </ion-col>
        </ion-row>
        <ion-row class="newPwd">
            <ion-col>
                <span>新密码</span>
                <ion-input maxlength="6" type="password" bindon-ngModel="newPayPwd" placeholder="输入6位数新密码"></ion-input>
            </ion-col>
        </ion-row>
        <ion-row class="comfimPwd">
            <ion-col>
                <span>确认密码</span>
                <ion-input maxlength="6" type="password" bindon-ngModel="newPayPwd2" placeholder="输入6位数确认密码"></ion-input>
            </ion-col>
        </ion-row>
        <ion-row class="subBtn">
            <ion-col>
                <button ion-button (click)="submitData()">确定</button>
            </ion-col>
        </ion-row>
        <ion-row class="forgetPwd">
            <ion-col>
                <button (click)="gotoFindPayPwdPage()">忘记密码?</button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
