page-integroWallet {
    .fmyTitle{
        background:url('../assets/images/pack.png') no-repeat;
        background-color: #efefef;
        background-size: 100% 100%;
        border-bottom: 1px solid #afafaf;
        margin:0;
        .myScore,.myEP,.myDoudou{
            span:nth-child(1){
                display:block;
                color:#fff;
                padding:8px 0 0 0;
            }
            span:nth-child(2){
                display:block;
                padding:15px 0;
                font-size: 16px;
            }
        }
        .myScore{
            span:nth-child(2){
                color:#fff;
            }
        }
        .myEP{
            span:nth-child(2){
                color:#30a119;
            }
        }
        .myDoudou{
            span:nth-child(2){
                color:#00cccc;
            }
        }
    }
    .noneImage{
        background:#fff;
        margin-top:1px;
    }
    .transactionFlow{
        margin:5px 0 0 0;
        .transactionFlowTitle{
            background:#fff;
            padding: 8px 5px;
            span:nth-child(1){
                font-weight:bold;
            }
            span:nth-child(2){
                position: absolute;
                right:0;
                color:#999;
                font-size: 12px;
                margin-top:2px;
            }
        }
        .transactionFlowInfo{
            background:#fff;
            margin-top:2px;
            .transactionFlowContent{
                .transactionFlowDate{
                    text-align: right;
                }
            }
        }
    }
    // .recordList{
    //     ion-row{
    //         border-bottom: 1px solid #afafaf;
    //     }
    //     strong{
    //         font-size: 18px;
    //     }
    // }
    // .integrate{
    //     .generalIntegral{
    //         height:50px;
    //         border-bottom:1px #fff solid;
    //         line-height:50px;
    //     }
    //     .myEP{
    //         height:50px;
    //         line-height:50px;
    //     }
    //     ion-col{
    //         padding:0;
    //     }
    // }
}
